In [4]:
import pandas as pd
import os
df = {'text': [], 'label': []}
for col in os.listdir('raw_data/20news-18828'):
    for i in os.listdir(f'raw_data/20news-18828/{col}'):
        content = open(f'raw_data/20news-18828/{col}/{i}', 'r', errors='ignore').read()
        df['text'].append(content)
        df['label'].append(col)
df = pd.DataFrame(df)
df

,text,label
0,From: torsina@enuxhb.eas.asu.edu (Who???????)\...,soc.religion.christian
1,From: cmgrawbu@eos.ncsu.edu (CHRISTOPHER M GRA...,soc.religion.christian
2,From: JEK@cu.nih.gov\nSubject: An quoted argum...,soc.religion.christian
3,From: creps@lateran.ucs.indiana.edu (Stephen A...,soc.religion.christian
4,From: alastair@farli.otago.ac.nz (Alastair Tho...,soc.religion.christian
...,...,...
18823,From: astein@nysernet.org (Alan Stein)\nSubjec...,talk.politics.mideast
18824,"From: ""D. C. Sessions"" <dcs@witsend.tnet.com>\...",talk.politics.mideast
18825,From: hernlem@chess.ncsu.edu (Brad Hernlem)\nS...,talk.politics.mideast
18826,From: adams@bellini.berkeley.edu (Adam L. Schw...,talk.politics.mideast
18827,From: bh437292@longs.LANCE.ColoState.Edu (Basi...,talk.politics.mideast

In [6]:
df.to_csv('raw_data/20news.csv', index=None)

In [7]:
import random
df_group = df.groupby('label').agg(list)
df_group['text'] = df_group['text'].apply(lambda x: random.sample(x, len(x)))
df_group['train'] = df_group['text'].apply(lambda x: x[:6*len(x)//10])
df_group['eval'] = df_group['text'].apply(lambda x: x[6*len(x)//10:7*len(x)//10])
df_group['test'] = df_group['text'].apply(lambda x: x[7*len(x)//10:])
if not os.path.exists('origin_data'):
    os.makedirs('origin_data')
for split in ['train', 'eval', 'test']:
    sub_df = df_group[[split]]
    sub_df = sub_df.reset_index().explode(split)
    sub_df.columns = ['label', 'text']
    sub_df = sub_df[['text', 'label']]
    sub_df.to_csv(f'origin_data/{split}.tsv', index=None, sep='\t')